.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom:0.1px solid gray;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
}

.headerLeft {
    display: flex;

}

.headerRight {
    display: flex;
    
}

.headerSearch {
    padding: 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    height: 22px;
    color: black;
    background-color: lightgrey;

}

.headerSearch input {
    outline: none;
    border: none;
    background: none;
}
